    <ul>
        <li><a class="active" href="/MovieNowShowing">MOVIES NOW SHOWING</a></li>
        <li><a href="/Theatre">THEATRE</a></li>
        <li><a href="/ContactUs">CONTACT US</a></li>
        <li><a href="/Profile">PROFILE</a></li>
        <li><a href="/">LOG OUT</a></li>
    </ul>