<html>

<head>
    <title>Contact Us</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3172/3172555.png" type="image/x-icon">
</head>

    <script>
        function submitted() {
            alert("Thanks for your valuable feedback...");
        }
    </script>
</head>

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 3px 103.2px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
        color: whitesmoke;
    }

    h4,
    pre {
        position: relative;
        bottom: 30;
        font-size: 20px;
    }

    .btn {
        font-size: 14;
        border: 1px solid rgba(13, 9, 0, 0.491);
        border-radius: 15px;
        position: absolute;
        cursor: pointer;
        bottom: 50px;
        left: 42.5%;
        bottom: 35px;
        height: 30;
        width: 125;
    }

    .btn:hover {
        background-color: #f44336;
        color: white;
    }

    footer {
        position: absolute;
        text-align: center;
        background-color: rgb(27, 26, 26);
        color: white;
        bottom: 4px;
        width: 99.49%;
        right: 4;
    }
</style>

<body>

    <header style="background-color: Red; height: 100px; width: 100%; Padding-top: 5px">

        <center><strong>
                <h2 style="font-size:35px; color:Black;">MOVIE GRIP</h2>
            </strong></center>

        <marquee><strong>
                <h11 style="color:White; ">Grab The Movies You Want !!!</h11>
            </strong></marquee>

        {{> navbar}}

        {{!-- <ul>
            <li><a class="active" href="Intro Page.html">HOME</a></li>
            <li><a href="Movie Now Showing.html">MOVIES NOW SHOWING</a></li>
            <li><a href="Theatre.html">THEATRE</a></li>
            <li><a href="Contact Us.html">CONTACT US</a></li>
        </ul> --}}

        <center>

            <body
                background="https://c1.wallpaperflare.com/preview/570/413/91/interior-theatre-theater-empty-theater.jpg">
        </center>

        <form id="form">
            <center>
                <fieldset style="background-color:rgba(7, 2, 0, 0.581);border-radius: 5%; height:395%; width:45%; position: relative;top: 35; padding: 10;
                    box-shadow: 0 6px 10px 0 rgba(241, 8, 8, 0.269), 0 8px 22px 0 rgba(211, 9, 9, 0.26);">
                    <legend>
                        <h2 style="color:White;">CONTACT US </h2>
                    </legend>

                    <h4 class="msg" style="color: rgb(245, 141, 159); font-family: 'Times New Roman', Times, serif;">
                        LEAVE A MESSAGE
                    </h4>
                    <pre
                        style="Color:rgb(248, 188, 77); font-family: 'Times New Roman', Times, serif; position: relative; right: 40">
                    If you have a question regarding our services, feel free 
                    to contact us using the form below.</pre>
                    <div style="position: relative; bottom: 20;">
                        <input type="text" id="Name"" name=" Name" placeholder="  Enter Your Name" required
                            style="border-radius: 6px; height:35px; width:200px ;">
                        <input type="email" id="Email" name=" Email" placeholder=" Enter Your Email" required
                            style="border-radius: 6px; height:35px; width:200px ;">
                        <input type="text" id="Phone" name=" Phone"" placeholder=" Enter Your Phone" required
                            style="border-radius: 6px; height:35px; width:200px ;"><br><br>
                        <textarea name="Message" rows="4" cols="79" id="Message" placeholder="Type Your Query Here" required
                            required=""></textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn" onclick="submitted()">Submit Message</button>
                    </div>

            </center>
        </form>

        <footer>
            <p>© 2022 Movie Grip. All rights reserved &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                Designed by Bhadrinath P S &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                Phone :
                <a style="color:aliceblue;text-decoration: none;" href="tel:+91 6374579499">+91 6374579499 , </a>
                <a style="color:aliceblue;text-decoration: none;" href="tel:+91 7871223114">+91 7871223114</a> &nbsp;&nbsp;&nbsp; |
                &nbsp;&nbsp;&nbsp;
                Mail : <a style="color:aliceblue;text-decoration: none;" href="mailto:moviegrip@gmail.com">moviegrip@gmail.com</a>
            </p>
        </footer>