<!DOCTYPE html>

<head>
    <title>Intro Page</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3172/3172555.png" type="image/x-icon">
</head>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-image: linear-gradient(rgb(0, 0, 0, 0.50),rgb(0, 0, 0, 0.50)), url(/images/Picsart_22-10-27_19-33-28-9871.jpg);
        background-size: 100%;

    }

    .title {
        color: rgb(248, 234, 234);
        width: 50%;
        font-size: 35px;
        position: absolute;
        top: 32%;
        transform: translateY(-50%);
        text-align: center;
        text-transform: uppercase;
        -webkit-box-reflect: below 9px linear-gradient(transparent, rgb(249, 242, 242), rgba(108, 57, 57, 0));
        line-height: 0.70cm;
        outline: none;
    }

    .para {
        color: rgba(218, 141, 77, 0.913);
        width: 50%;
        font-size: 30px;
        position: absolute;
        line-height: 40px;
        top: 55%;
        transform: translateY(-50%);
        text-align: center;
    }

    .btn {
        font-display: 15;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        position: relative;
        left: 1420px;
        top: 10px;
        width: 93px;
        height: 33px;
        border-radius: 25px;
        margin: 1px 10;
        font-size: 15;
        border: 1px solid rgba(250, 14, 14, 0.82);
        margin-right: 6px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #f44336;
        color: white;
    }
</style>

<body>
    <div class="title">
        <h1 style="font-size: 30;">MOVIE GRIP</h1>
    </div>
    <div class="para">
        <p>Watching a movie for the first time is a flirt.<br>Rewatching it, is a date.</p>
    </div>

    <div>
        <a href="/Login">
            <button class="btn">LOGIN</button>
    </div>
</body>
</html>