<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3172/3172555.png" type="image/x-icon">
</head>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 3px 103.2px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
    color: whitesmoke;
  }

  .btn {
    position: relative;
    top: 5px;
    border: 1px solid rgba(13, 9, 0, 0.491);
    border-radius: 25px;
    height: 25;
    width: 90;
    font-size: 14;
  }

  .btn:hover {
    background-color: #f44336;
    color: white;
    cursor: pointer;
  }

  fieldset {
    background-color: rgba(7, 2, 0, 0.692);
    border-radius: 5%;
    height: 310px;
    width: 27%;
    box-shadow: 0 6px 10px 0 rgba(241, 8, 8, 0.269), 0 8px 22px 0 rgba(211, 9, 9, 0.26);
  }

  .description {
    color: wheat;
    width: 700px;
    padding-left: 30px;
    padding-top: 120px;
  }
</style>

<body>

  <header style="background-color:Red; height:100px; width:100%; Padding-top:5px">

    <center><strong>
        <h2 style="font-size:35px; color:Black;">MOVIE GRIP</h2>
      </strong></center>

    <marquee><strong>
        <h11 style="color:White; ">Grab The Movies You Want !!!</h11>
      </strong></marquee>

    {{> navbar}}
    {{!-- <ul>
      <li><a class="active" href="Intro Page.html">HOME</a></li>
      <li><a href="Movie Now Showing.html">MOVIES NOW SHOWING</a></li>
      <li><a href="Theatre.html">THEATRE</a></li>
      <li><a href="Contact Us.html">CONTACT US</a></li>
      <li><a href="Intro Page.html">LOG OUT</a></li>
    </ul> --}}

      <body background="https://c1.wallpaperflare.com/preview/570/413/91/interior-theatre-theater-empty-theater.jpg">
      <h2 class="description"> Movie Grip is an online movie ticketing system is a digital platform that allows customers to access the services of a business, reserve seats and buy tickets. This platform provides details such as what time a movie will be played, what seats are available, movie previews and so much more. </h2>


    
</body>

</html>