<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3172/3172555.png" type="image/x-icon">
</head>

<style>
  button {
    border: 2px solid rgba(248, 243, 243, 0.445);
    border-radius: 10px;
    color: wheat;
    background-color: #000;
    position: absolute;
    padding: 10px 18px;
    margin-left: 10px;
    top: 150px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #04AA6D;
  }

  .img,
  .video {
    display: inline-block;
    margin-top: 4.5%;
    box-shadow: 0 6px 10px 0 rgba(228, 36, 36, 0.442), 0 8px 20px 0 rgba(251, 47, 47, 0.448);
    margin-left: 0.6%;
    margin-bottom: 15px;
  }

  .title0 {
    margin-left: 1%;
    color: red;
    font-size: 50px;
    font-weight: bolder;
  }

  .title {
    margin-left: 10px;
    color: yellow;
    width: 300px;

  }

  .title0,
  .title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }

  .mov-desc {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.4%;
    color: white;
    font-size: large;
    width: 50%;
  }

  .mov-desc p {
    line-height: 1.35;
    width: 185%;
    background-color: rgba(0, 0, 0, 0.653);
    padding: 5px 20px 15px 20px;
    border-radius: 20px;
    text-align: justify;
  }

  .topcast {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-gap: 62px;
  }

  .topcast img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 10px 0 rgba(228, 36, 36, 0.442), 2px 2px 20px 2px rgba(251, 47, 47, 0.37);
  }

  .topcast label {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 32%;
    text-align: center;
    color: white;
    display: block;
  }

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .review {
    display: grid;
    grid-template-rows: 30% 30% 30% 30%;
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 33%, 4%, 0.625);
    box-shadow: 0 0px 5px rgba(68, 30, 30, 0.44);
    border-radius: 15px;
    padding: 10px 10px 0px 30px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: -10px;
  }

  .card__head {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 15px;
  }

  .card__head img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid rgb(246, 107, 107);
  }

  .name {
    font-weight: 600;
    font-size: 18px;
  }

  .card__heading {
    color: white;
    font-size: 18px;
  }

  .card__rating {
    color: yellow;
    padding-left: 400px;
    font-size: larger;
  }

  .card__rating .notchecked {
    color: rgb(255, 255, 255);
  }

  .card__detail {
    color: hsla(0, 0%, 81%, 0.852);
    line-height: 1.3;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: justify;
    width: 670px;
  }
</style>

<body>

  <header style="background-color:Red; height:100px; width:100%; Padding-top:5px">
    <center><strong>
        <h2 style="font-size:35px; color:Black;">MOVIE GRIP</h2>
      </strong></center>
    <marquee><strong>
        <h11 style="color:White; ">Grab The Movies You Want !!!</h11>
      </strong></marquee>
    <hr style="margin-top: -1px;">

    <div style="font-family:'Times New Roman', Times, serif;position:absolute; top: 150px; left: 115px; color: White;">
      <b>THE CROODS<br>2019 * PG * 1h 35m</b>
    </div>

    <div style="font-family:'Times New Roman', Times, serif;position:absolute; top: 150px; right: 30px; color:White;">
      <b>IMDb RATING<br><img src="http://clipart-library.com/images/pToax64yc.png" style="width: 15px; height: 15px;">
        6.9/10</b>
    </div>

    <div
      style="font-family:'Times New Roman', Times, serif; position: absolute; top: 150px; right: 180px; color:White;">
      <b>POPULARITY<br><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVZg1ruDaQpRdt1W1xmA62jisVypsLaPSVdA&usqp=CAU"
          style="position:absolute; width: 15px; height: 15px; top: 20px;">
        &nbsp;&nbsp;&nbsp;&nbsp; 2,797 ^ 305</b>
    </div>

    <div>
      <a href="/MovieNowShowing">
        <button type="button" class="btn">BACK</button></a>
    </div>

    <body
      style="background-image: linear-gradient(rgb(0, 0, 0, 0.50),rgb(0, 0, 0, 0.50)), url(https://c1.wallpaperflare.com/preview/570/413/91/interior-theatre-theater-empty-theater.jpg);">

      <div class="img">
        <img
          src="https://i0.wp.com/www.heyuguys.com/images/2012/09/The-Croods-Poster.jpg?w=691&ssl=1"
          style="width: 388px; height:500px;">
      </div>

      <div class="video">
        <video width="1080px" height="500" controls>
          <source src="/video/y2mate_com_-_THE_CROODS_A_NEW_AGE__Official_Trailer_1080p_AdobeExpress_AdobeExpress.mp4">
          type="video/mp4">
        </video>
      </div>

      <div class="grid">


        <div class="Leftside">
          <h1 class="title0"> | </h1>

          <h1 class="title"> Movie Description </h1>

          <div class="mov-desc">
            <p>
              Still searching for a place to settle down after the cataclysmic events of The Croods (2013), the
              overprotective prehistoric patriarch, Grug, leads his family to the great unknown. Hoping for the best in
              an increasingly dangerous world, while trying to come to terms with Eep and Guy's budding romance, Grug
              stumbles upon a secluded Eden of plenty, containing everything that they have been seeking. 
              <br><br>
              However, there
              is a catch. This verdant heaven on Earth is already occupied by the significantly more evolved Bettermans:
              Phil, Hope, and their daughter, Dawn. Now, as tensions boil over between the antagonistic clans, a new
              menace threatens the future of both families.
            </p>
          </div>

          <h1 class="title0"> | </h1>

          <h1 class="title"> Top Cast </h1>
          <div class="topcast">
            <div class="cast">
              <img
                src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/nicolas-cage-1596-24-03-2017-12-35-24.jpg"
                style="margin-left: 30px;">
              <label><b style="color: yellowgreen">Nicolas Cage </b>as Grug</label>
            </div>
            <div class="cast">
              <img
                src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/ryan-reynolds-1955-14-08-2020-02-54-15.jpg">
              <label><b style="color: yellowgreen">Ryan Reynolds </b>as Guy</label>
            </div>
            <div class="cast">
              <img
                src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/emma-stone-2783-24-03-2017-13-49-41.jpg">
              <label><b style="color: yellowgreen">Emma Stone </b>as Eep</label>
            </div>
            <div class="cast">
              <img
                src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/leslie-mann-12719-24-03-2017-12-33-53.jpg">
              <label><b style="color: yellowgreen">Leslie Mann </b>as Hope Betterman</label>
            </div>
          </div>
        </div>

        <div class="rightside">
          <h1 class="title0"> | </h1>
          <h1 class="title"> Reviews </h1>

          <div class="review">
            <div class="row" style="margin-top: 5px;">
              <article class="card">
                <div class="card__head">
                  <img
                    src="http://resizing.flixster.com/LFuwYWrZPi93PxevJ_7eS7P1-ME=/128x128/v1.YzsxMDAwMDAyNzA5O2o7MTk0NDk7MjA0ODsyOTY7Mjk2">
                  <div class="card__user">
                    <div class="name">Cody Dericks &nbsp;</div>
                  </div>
                  <div class="card__rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star notchecked"></i>
                  </div>
                </div>
                <div class="card__detail">
                  The film’s moments of joy have the unintended effect of underlining and illuminating its duller parts. It lacks the simple charm of its predecessor.
                </div>
              </article>
            </div>

            <div class="row" style="margin-top: 2px;">
              <article class="card">
                <div class="card__head">
                  <img
                    src="http://resizing.flixster.com/_LJT01h8c-DLXIuhwFhz8Ls6dtA=/128x128/v1.YzsxMDAwMDAyNzYyO3A7MTk0NDk7MjA0ODsyOTk7Mjk5">
                  <div class="card__user">
                    <div class="name">Rose Bryant &nbsp;&nbsp;&nbsp;</div>
                  </div>
                  <div class="card__rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <div class="card__detail">
                  The Croods : A New Age retains the cheerful comedic charm of the franchise’s first installment while still feeling fresh and fun for 2020.
                </div>
              </article>
            </div>

            <div class="row" style="margin-top: -7px;">
              <article class="card">
                <div class="card__head">
                  <img
                    src="http://resizing.flixster.com/aAHMyw_SE7HZ87QuaNjEWxZ_rts=/38x42/v1.YzsyNDQwO2c7MTk0NDA7MjA0ODszODs0Mg">
                  <div class="card__user">
                    <div class="name">Cath Clarke &nbsp;&nbsp;&nbsp;</div>
                  </div>
                  <div class="card__rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star notchecked"></i>
                    <i class="fa fa-star notchecked"></i>
                  </div>
                </div>
                <div class="card__detail">
                  A new age? Not really, but this sequel does feel like a rung up on the evolutionary ladder from 2013's The Croods.
                </div>
              </article>
            </div>

            <div class="row">
              <article class="card" style="margin-top: -3px;">
                <div class="card__head">
                  <img
                    src="http://resizing.flixster.com/mCvzYrf66BKfzM2tHJ8dQAsXAxY=/128x128/v1.YzsyOTIxO2o7MTk0NDA7MjA0ODs2NDY7NjQ2">
                  <div class="card__user">
                    <div class="name">Clarisse Lough</div>
                  </div>
                  <div class="card__rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <div class="card__detail">
                  In defiance of this vague sense of pointlessness, The Croods: A New Age manages to feel like a genuine creative endeavour and 
                  not a last resort. 
                </div>
              </article>
            </div>

          </div>
        </div>


      </div>

    </body>

</html>