<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3172/3172555.png" type="image/x-icon">
</head>

<style>
  button {
    border: 2px solid rgba(248, 243, 243, 0.445);
    border-radius: 10px;
    color: wheat;
    background-color: #000;
    position: absolute;
    padding: 10px 18px;
    margin-left: 10px;
    top: 150px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #04AA6D;
  }

  .img,
  .video {
    display: inline-block;
    margin-top: 4.5%;
    box-shadow: 0 6px 10px 0 rgba(228, 36, 36, 0.442), 0 8px 20px 0 rgba(251, 47, 47, 0.448);
    margin-left: 0.6%;
    margin-bottom: 15px;
  }

  .title0 {
    margin-left: 1%;
    color: red;
    font-size: 50px;
    font-weight: bolder;
  }

  .title {
    margin-left: 10px;
    color: yellow;
    width: 300px;

  }

  .title0,
  .title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }

  .mov-desc {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.4%;
    color: white;
    font-size: large;
    width: 50%;
  }

  .mov-desc p {
    line-height: 1.35;
    width: 185%;
    background-color: rgba(0, 0, 0, 0.653);
    padding: 5px 20px 15px 20px;
    border-radius: 20px;
    text-align: justify;
  }

  .topcast {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-gap: 62px;
  }

  .topcast img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 10px 0 rgba(228, 36, 36, 0.442), 2px 2px 20px 2px rgba(251, 47, 47, 0.37);
  }

  .topcast label {
    width: 100%;
    margin-top: 10px;
    margin-left: 32%;
    margin-bottom: 15px;
    text-align: center;
    color: white;
    display: block;
  }

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .review {
    display: grid;
    grid-template-rows: 30% 30% 30% 30%;
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 33%, 4%, 0.625);
    box-shadow: 0 0px 5px rgba(68, 30, 30, 0.44);
    border-radius: 15px;
    padding: 10px 10px 0px 30px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: -10px;
  }

  .card__head {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 15px;
  }

  .card__head img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid rgb(246, 107, 107);
  }

  .name {
    font-weight: 600;
    font-size: 18px;
  }

  .card__heading {
    color: white;
    font-size: 18px;
  }

  .card__rating {
    color: yellow;
    padding-left: 400px;
    font-size: larger;
  }

  .card__rating .notchecked {
    color: rgb(255, 255, 255);
  }

  .card__detail {
    color: hsla(0, 0%, 81%, 0.852);
    line-height: 1.3;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: justify;
    width: 670px;
  }
</style>

<body>

  <header style="background-color:Red; height:100px; width:100%; Padding-top:5px">
    <center><strong>
        <h2 style="font-size:35px; color:Black;">MOVIE GRIP</h2>
      </strong></center>
    <marquee><strong>
        <h11 style="color:White; ">Grab The Movies You Want !!!</h11>
      </strong></marquee>
    <hr style="margin-top: -1px;">

    <div style="font-family:'Times New Roman', Times, serif;position:absolute; top: 150px; left: 115px; color: White;">
      <b>TOY STORY<br>2019 * G * 1h 40m</b>
    </div>

    <div style="font-family:'Times New Roman', Times, serif;position:absolute; top: 150px; right: 30px; color:White;">
      <b>IMDb RATING<br><img src="http://clipart-library.com/images/pToax64yc.png" style="width: 15px; height: 15px;">
        7.7/10</b>
    </div>

    <div
      style="font-family:'Times New Roman', Times, serif; position: absolute; top: 150px; right: 180px; color:White;">
      <b>POPULARITY<br><img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVZg1ruDaQpRdt1W1xmA62jisVypsLaPSVdA&usqp=CAU"
          style="position:absolute; width: 15px; height: 15px; top: 20px;">
        &nbsp;&nbsp;&nbsp;&nbsp; 1,533 ^ 97</b>
    </div>

    <div>
      <a href="/MovieNowShowing">
        <button type="button" class="btn">BACK</button></a>
    </div>

    <body
      style="background-image: linear-gradient(rgb(0, 0, 0, 0.50),rgb(0, 0, 0, 0.50)), url(https://c1.wallpaperflare.com/preview/570/413/91/interior-theatre-theater-empty-theater.jpg);">

      <div class="img">
        <img
          src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQZ6_8mkeAGVUvYo6Oe0cJVZJS9-iOW9CHDFzfbaBlbzoHt6NBt"
          style="width: 388px; height:500px;">
      </div>

      <div class="video">
        <video width="1080px" height="500" controls>
          <source src="/video/y2mate_com_-_Toy_Story_4__Official_Trailer_1080p_AdobeExpress.mp4">
          type="video/mp4">
        </video>
      </div>

      <div class="grid">


        <div class="Leftside">
          <h1 class="title0"> | </h1>

          <h1 class="title"> Movie Description </h1>

          <div class="mov-desc">
            <p>
              When a new toy called "Forky" joins Woody and the gang, a road trip alongside old and new friends reveals
              how big the world can be for a toy.
              <br><br>
              Woody, Buzz Lightyear and the rest of the gang embark on a road trip with Bonnie and a new toy named
              Forky. The adventurous journey turns into an unexpected reunion as Woody's slight detour leads him to his
              long-lost friend Bo Peep. As Woody and Bo discuss the old days, they soon start to realize that they're
              two worlds apart when it comes to what they want from life as a toy.
            </p>
          </div>

          <h1 class="title0"> | </h1>

          <h1 class="title"> Top Cast </h1>
          <div class="topcast">
            <div class="cast">
              <img
                src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/tom-hanks-2386-24-03-2017-12-31-02.jpg"
                style="margin-left: 30px;">
              <label><b style="color: yellowgreen">Tom Hanks </b>as Woody</label>
            </div>
            <div class="cast">
              <img
                src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/tim-allen-2368-20-03-2017-01-15-45.jpg">
              <label><b style="color: yellowgreen">Tim Allen </b>as Buzz Lightyear</label>
            </div>
            <div class="cast">
              <img
                src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/joan-cusack-10954-08-05-2017-12-40-16.jpg">
              <label><b style="color: yellowgreen">Joan Cusack </b>as Jessie</label>
            </div>
            <div class="cast">
              <img
                src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/annie-potts-1063331-07-05-2019-01-04-34.jpg">
              <label><b style="color: yellowgreen">Annie Potts </b>as Bo Peep</label>
            </div>
          </div>
        </div>

        <div class="rightside">
          <h1 class="title0"> | </h1>
          <h1 class="title"> Reviews </h1>

          <div class="review">
            <div class="row" style="margin-top: 5px;">
              <article class="card">
                <div class="card__head">
                  <img
                    src="http://resizing.flixster.com/IQhAqfjZbjmoaK3VvqYACo9sVOg=/128x128/v1.YzsxMDAwMDAyNjk0O2o7MTk0NDk7MjA0ODs0MDA7NDAw">
                  <div class="card__user">
                    <div class="name">A.A. Dowd &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                  </div>
                  <div class="card__rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star notchecked"></i>
                  </div>
                </div>
                <div class="card__detail">
                  Toy Story 4 is so fast and light on its feet that it's easy to ignore that it's a pretty minor adventure.
                  Not absolute top-flight Pixar. No embarrassment either.
                </div>
              </article>
            </div>

            <div class="row" style="margin-top: 2px;">
              <article class="card">
                <div class="card__head">
                  <img
                    src="http://resizing.flixster.com/NGnNdS5g8bJCAD14brp56-RGgmM=/128x128/v1.YzsxMDAwMDAyNzQ3O2o7MTk0NDk7MjA0ODszMDA7MzAw">
                  <div class="card__user">
                    <div class="name">Stephen Romei</div>
                  </div>
                  <div class="card__rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <div class="card__detail">
                  This fourth Toy Story is the directorial debut of American animator, screenwriter and voice actor 
                  Josh Cooley. He does his best with what he has, but the script lacks spark.
                </div>
              </article>
            </div>

            <div class="row" style="margin-top: -7px;">
              <article class="card">
                <div class="card__head">
                  <img
                    src="http://resizing.flixster.com/OQ5jerQS10XdNMBsvQT5sfM2jBU=/128x128/v1.Yzs0MDQzO3A7MTk0NDA7MjA0ODszODA7Mzgw">
                  <div class="card__user">
                    <div class="name">Brian Egert &nbsp; &nbsp;</div>
                  </div>
                  <div class="card__rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star notchecked"></i>
                    <i class="fa fa-star notchecked"></i>
                  </div>
                </div>
                <div class="card__detail">
                  Toy Story 4's willingness to go to strange and dark places is part of its charm.
                  It’s a family film that will surely leave audiences walking out feeling very emotional.
                </div>
              </article>
            </div>

            <div class="row">
              <article class="card" style="margin-top: -3px;">
                <div class="card__head">
                  <img
                    src="http://resizing.flixster.com/riQp2DXLIXeRW9GUxReDCFEeboA=/128x128/v1.Yzs0MDQ0O2o7MTk0NDA7MjA0ODsxMzUzOzEzNTM">
                  <div class="card__user">
                    <div class="name">David Gonalez</div>
                  </div>
                  <div class="card__rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <div class="card__detail">
                  I found myself sobbing at the films conclusion because Toy Story 4 showed us it was only Andys 
                  story that was complete. The toys story concluded with this film.
                </div>
              </article>
            </div>

          </div>
        </div>


      </div>

    </body>

</html>