fieldset {
    box-shadow: 0 6px 10px 0 rgba(241, 8, 8, 0.269), 0 8px 22px 0 rgba(211, 9, 9, 0.26);
    border-radius: 5%;
    margin-top: 90px;
    display: flex;
    width: 25%;
    background-color: rgba(14, 10, 10, 0.655);
    display: block;
}

.mb-3 mt-3 p {
    margin: 0px;
    padding: 0px;
    visibility: hidden;
    position: absolute;
}

.mb-3 mt-3.error p {
    margin-left: 5px;
    margin: 0px;
    padding: 0px;
    visibility: visible;
    color: red;
}

.mb-3 mt-3.success p {
    margin-left: 5px;
    margin: 0px;
    padding: 0px;
    visibility: visible;
}

p {
    font-size: 14px;
    margin-left: 7px;
    margin-top: 3px;
    padding: 0px;
    color: rgba(145, 255, 0, 0.881);
}

.BUTTON {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 6px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 6px;
    border: 1px solid rgba(250, 3, 3, 0.491);
    cursor: pointer;
}

.BUTTON:hover {
    background-color: #f44336;
    color: white;
}

.BUTTON1 {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 6px;
    height: 25px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 13px;
    margin-bottom: 13px;
    border: 1px solid rgba(250, 3, 3, 0.491);
    cursor: pointer;
}

.BUTTON1:hover {
    background-color: #f44336;
    color: white;
}

.error {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:red;
    font-size: 15px;
    font-weight: 600;
}

.good {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:red;
    font-size: 15px;
    font-weight: 600;
}